html{
	box-sizing: border-box;
  }
  *,
  *::after,
  *::before{
	box-sizing: inherit;
  }
  
  ul[class],
  ol[class]{
	padding: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd{
	margin: 0;
  }
  ul[class]{
	list-style: none;
  }
  img{
	max-width: 100%;
	display: block;
  }
  input,
  button,
  textarea,
  select{
	font: inherit;
  }
  a{
	text-decoration: none;
  }
  .add{
    display: block;
    width: 40px;
    height: 40px;
   
    background-repeat: no-repeat;
    background-size: contain;
    top: 20px;
    
    margin-left: auto;
    position: relative;
    right: 20px;
    margin-bottom: 10px;
  }
  /*header*/
  .container{
    max-width: 1516px;
    margin: 0 auto;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  .navbar-nav{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
  }
 .navbar-brand{
  font-size: 26px;
  color: #848484;
  font-weight: 700;
  display: flex;
  align-items: center;
 }
 .nav-link{
  color: #000;
  font-family: 500;
  font-size: 20px;
 }
 .navbar{
  background-color: #fff;
  border-bottom: 2px solid #000;
 }
/*form*/
.auth_form{
  max-width: 650px;
  margin: 0 auto;
  background: #F4F4F4;
  padding: 75px;
  margin-top: 20%;

}
.auth-title{
  text-align: center;
  color: #000;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 100px;
}
.auth_input{
  border-radius: 10px;
  background: #D9D9D9;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 120px;
  padding-right: 120px;
  text-align: center;
  color: #fff;
  border:none;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 23px;
 
}
.auth_input::placeholder{
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.auth_btn{
  width: 200px;
  background: #000;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: all .2s;

}
.auth_btn:hover{
  background: #fff;
  color: #000;
}
.auth-link{
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-top: 20px;
}

/* ProgressBar.css */

.progress-bar {
  width: 100%;
  height: 80px;
  background-color: #8B1E47;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  margin-top: 30px;
}

.progress {
  height: 100%;
  background-color: #EA3077; /* Change color as desired */
}

/*fin goal*/
.financial_goal{
  background: #BF2761;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
  border-radius: 10px;
  margin-top: 70px;
}
.title{
  color: #fff;
  font-weight: 600;
  font-size: 55px ;
  line-height: 60px;
}
.progress-goal{
  position: absolute;

  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.title.percent{
  position: relative;
  margin-top: 10px;
  bottom: -20px;
  
}

/*spends*/
.main-wrapper{
  display: flex;
  margin-top: 40px;
  gap: 37px;

}
.spends{
  width: 758px;
  
  padding: 15px;
  height: 316px;
  background:#0F9900;
  border-radius: 10px;
}
.title.spend{
  max-width: 504px;
  margin-top: 20px;
  
}
.spend_num{
  font-size: 100px;
  margin-left: 220px;
  color: #fff;
  font-weight: 600;
 
}
.add.spend{
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('./assets/add_spend.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  margin-left: auto;
  position: relative;
  right: 20px;
  top: -60px;
}

.auth_select {
  border-radius: 10px;
  background: #D9D9D9;
  padding-top: 10px;
  padding-bottom: 7px;
  
  text-align: center;
  color: #fff;
  border:none;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 23px;
}
.auth_select option{
  padding-right: 0;
}
/*incomes*/
.add.income {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('./assets/add_income.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  background-color: #AE8507;
  margin-left: auto;
  position: relative;
  right: 20px;
  
}
.incomes-list{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.incomes{
  background: #AE8507;
  border-radius: 10px;
  padding: 25px;
}
.income{
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: #C79800;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding-right: 20px;
}

/*savings*/
.savings{
  background: #0749DB;
  border-radius: 10px;
  margin-top: 36px;
  padding: 25px;
}
.income.saving{
  background: #072D82;
}

.add.saving{
  background-color: #07183D;
  background-image: url('./assets/add_saving.png');
  border-radius: 50%;
}
/*budgets*/
.budgets{
  margin-top: 36px;
  background: #D91629;
  border-radius: 10px;
  padding: 25px;
}
.title.budget{
  margin-bottom: 30px;
}
path #ac_layer_24b82d61_10{
  display: none;
  fill:none;
}

.add.budget{
  background-image: url('./assets/add_budget.png');
}

.income.budget_per{
  background-color: #650E17;
}

.incomes-list.budget_per{
  margin-top: 20px;
}
.subtitle{
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  margin-top: 10px;
}

/*Ai advice*/
.ai_advice{
  background: #868686;
  margin-top: 37px;
  padding: 25px;
  border-radius: 10px;
}
.ai_text_wrapper{
  max-width: 700px;
  color: #fff;
  font-size: 25px;
  font-family: 700;
}
/*all topic*/
.all_search-top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.all_search-wrapper{
  background: #000;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
}
.title.all{
  font-size: 39px;
  justify-content: flex-start;
}
.search_input{
  padding: 10px;
  border-radius: 50px;
  margin-left: 30px;
  width: 600px;
  outline: none;
  border: none;
  background: #868686;
  color: #fff;
}
.search_input::placeholder{
  color: #fff;
}
.filter{
  padding: 7px;
  background: #D9D9D9;
  width:165px;
  color: #000;
  font-weight: 900;
  font-size: 25px;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.filter_icon{
  width: 50px;
  height: 50px;
}
.operation-wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.operation-row {
  display: flex;
  color: #ffff;
  font-size: 25px;
  font-weight: 500;
  justify-content: center; /* Adjust as needed */
  align-items: center;
  text-align: right;
}

.operation-cat,
.operation-type,
.operation-sum {
  flex: 1; /* Each column takes equal space */
}
.all_body{
  margin-top: 20px;
  padding-right: 10%;
}
